*{
	box-sizing: border-box;
}
body{
	margin: 0;
	padding: 0;
}
/*--Header--*/
#header{
	width: 100%;
	
	position: relative;
	
	}
#logo{
background: url('project1.png') no-repeat;
width: 100px;
height: 100px;
margin: 10px 15px 10px 10px;	
}
#header_name{
	font-size: 50px;
	position: absolute;
	top: 20px;
	left: 118px;
}
#info{
	position: absolute;
	top: 30px;
	right: 25px;
	font-size: 20px;
}
/*--Navbar--*/
#navbar{
	width: 100%;
	margin: 0;
	position: relative;
	
}
#navbar ul{
	display: flex;
	margin: 0;
	padding: 0; 
	background-color: rgb(38, 217, 172);         
}
#navbar ul li{
	list-style-type: none;
	text-align: center;
	
	width: 16.66%;
}
#navbar ul li:last-child{
border-right: none;
}
#navbar ul li a{
	text-decoration: none;
	display: block;
	text-align: center;
}
#navbar ul li a .icon{
	width: 30px;
	height: 30px;
	text-align: center;
	background-color: rgb(38, 217, 172);
	overflow: hidden;
	margin: 0 auto;
}
#navbar ul li a .icon .fa{
	width: 100%;
	height: 100%;
	line-height: 30px;
	font-size: 24px;
	color: #000;
	transition: 0.5s;
}
#navbar ul li a .icon .fa:last-child{
	color: red;
}
#navbar ul li a:hover .icon .fa{
	transform: translateY(-100%);
}
#navbar ul li a .name{
	position: relative;
	height: 20px;
	width: 100%;
	display: block;
	overflow: hidden;
}
#navbar ul li a .name span{
	display: block;
	position: relative;
	color: #000;
	font-size: 18px;
	line-height: 20px;
	transition: 0.5s;

}
#navbar ul li a .name span:before{
	content: attr(data-text);
	position: absolute;
	top: -100%;
	left: 0;
	width: 100%;
	height: 100%;
	color: red;
}
#navbar ul li a:hover .name span{

transform: translateY(20px);

}
/*-----Dropdown----*/
#dropdown_content{
	position: absolute;
    width: 16%;
    display: none;
}
#dropdown_content ul{
	display: block;
	text-align: center;
}
#dropdown_content ul li{
	padding: 5px;
	width:100%; 

}
#navbar ul li:hover .dropdown_classes #dropdown_content{
	display: block;
}
/*---Responsive Button for mobiles*/
#header .responsive_icon
{
 position: absolute;
 top: 20px;
 right: 25px;
 width: 50px;
 height: 50px;
 display: none;
 font-size: 30px;
}
#header .responsive_icon a{
	font-size: 30px;
}

@media (max-width:991px)
{
	#info{
		display: none;
	}

	#header .responsive_icon{
		display: block;
	}

	#navbar ul{
	display: block;
	}
	#navbar ul li{
		width: 100%;
		padding: 10px;
		border-bottom: dashed;
		text-align: left;
	}
	#navbar ul li:last-child{
		border-bottom: none;
	}
	#dropdown_content{
		position: relative;
		margin: 0;
		width: 100%;
	}
	#dropdown_content ul li{
		width: 100%;
	}
}